{% extends 'base.html' %}


{% block content %}

<!-- Search -->

<p>
  <br>
  <br>
<div class="card mb-3">
  <div class="card-body">
    <h3 class="card-title">SEARCH FOR DONOR</h3>
    <p class="card-text">
    <form action="{% url 'donorlistsite' %}" method="POST">
      {% csrf_token %}
      <h4>select organ</h4>
      {{forms_search.select_organ}}
      <h4> select location</h4>
      {{forms_search.select_location}}
      <br>
      <button type="submit" class="btn search_bt">Search</button>
    </form>
    </p>
  </div>
</div>

</p>
{% endblock %}